@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f2937;
  --secondary-color: #524e4a;
  --accent-color: #38a169;
  --text-color: #2d3748;
  --background-color: #daecfd;
}

* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 8px;
}
nav {
  background-color: var(--secondary-color);
}
footer {
  background-color: var(--primary-color);
  color: white;
}
.dflex {
  display: flex;
  justify-content: center;
}
.posts-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-title {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  text-align: center;
}
